<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="weather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <weather.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>http://www.bbc.co.uk/weather</value>
            </setting>
            <setting name="location" serializeAs="String">
                <value>Reading</value>
            </setting>
            <setting name="specifiedHour" serializeAs="String">
                <value>2100</value>
            </setting>
        </weather.Properties.Settings>
    </userSettings>
</configuration>